**Q.1- What are data structures, and why are they important ?**

**Ans.-**Data structures are specilized format or conatainers used to store and organize data efficiently.
Some Data Structure in python are -


*   list
*   tuple
*   set
*   array
*   dictonaries
*   stack and ques

They are important because they provide various ways to access and manipulate data according to specific needs.

**Q.2- Explain the difference between mutable and immutable data types with example.**

**Ans.-** **Mutable Data types-** Mutable data are those data types which can be changed after creation.

**Example-** List,Set,etc.

**Immutable data types-** Immutable data can not be modified afer creation.

**Example-** Tuple,Dictonary etc.

**Q.3- What are the main differences between lists and tuples in Python ?**

**Ans.-** List are mutable data types while tuple are immutable data types.


**Q.4- Describe how dictionaries store data.**

**Ans.-** Dictonaries store the data as key-value pairs.

**Q.5- Why might you use a set instead of a list in Python ?**

**Ans.-** Because sets do not allow duplicate elements.

**Q.6- What is a string in Python, and how is it different from a list ?**

**Ans.-** Strings are immutable sequencew of characters enclosed with single or double quotes, while list is a mutable ,ordered sequence of items.

**Q.7-  How do tuples ensure data integrity in Python ?**

**Ans.-** Tuples are immutable data types. Hence once they created , they can not be changed.

**Q.8- What is a hash table, and how does it relate to dictionaries ?**

**Ans.-** A hash table is a data structure that store key-value pairs, using a hash function to map keys to indices in an array for fast lookup, and dictonaries are built upon this concept.

**Q.9- P Can lists contain different data types in Python ?**

**Ans.-** Yes , list can store different data types.

**Q.10- Explain why strings are immutable in Python.**

**Ans.-** Because they can not be changed after they are created.

**Q.11- What advantages do dictionaries offer over lists for certain tasks ?**

**Ans.-** Dictonaries are faster than lists for certain tasks like data retrieval and lookups.

**Q.12- Describe a scenario where using a tuple would be preferable over alist.**

**Ans.-** Use a tuple if you need an immutable collection where the elements won't change after creation.

**Q.13- How do sets handle duplicate values in Python ?**

**Ans.-** By union operation .

**Q.14-  How does the “in” keyword work differently for lists and dictonaries ?**

**Ans.-** When "in" used with list , it checks a specific element exists as a value in the list.
It itewrates through the list and returns True if the element is found , otherwise false.
When "in" used with dictonary it only check for the presence of a key and not the values.

**Q.15- Can you modify the elements of a tuple? Explain why or why not ?**

**Ans.-**  No, we can't modify the elements of a tuple . Because tuple are immutable data structure .

**Q.16- What is a nested dictionary, and give an example of its use case ?**

**Ans.- Nested dictonaries -** Dictonaries can contain other dictonaries as values, forming nested structures .
These nested dictonaries can be accessed and manipulated just like any oher dictonaries .

**Q.17-Describe the time complexity of accessing elements in a dictonary .**

**Ans.-** Average time comlexity = O(1)(constant time)
Worst case time coplexity =O(n)(linear time)

**Q.18-  In what situations are lists preferred over dictionaries?**

**Ans.-** 1.Ordered messages
          2.Broadcast mesages
  Lists are preferred when orer are neccesary.

**Q.19-Why are dictionaries considered unordered, and how does that affect data retrieval ?**

**Ans.-** Because they are implemened using hash tables .
It affect data retrieval by-
Affect on sorting
Fa lookup

**Q.20- Explain the difference between a list and a dictionary in terms data retriecval.**

**Ans.-** List use indexing while dictonary use hashing.

In [1]:
#1. Write a code to create a string with your name and print it.
name="Abhishek Yadav"
print(name)

Abhishek Yadav

In [2]:
#2.Write a code to find the length of the string "Hello World".
str="Hello World"
len(str)

11

In [3]:
#3.P Write a code to slice the first 3 characters from the string "Python Programming" .
str="Python Programming"
print(str[:3])

Pyt

In [6]:
#4.  Write a code to convert the string "hello" to uppercase .
str="hello"
print(str.upper())

HELLO

In [8]:
#5.  Write a code to replace the word "apple" with "orange" in the string "i like apple"
str="i like apple"
print(str.replace("apple","orange"))

i like orange

In [9]:
#6.P Write a code to create a list with numbers 1 to 5 and print it.
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [11]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst=[1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [12]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst=[1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [13]:
#9.  Write a code to access the second element in the list  ['a', 'b', 'c', 'd'].
lst=['a','b','c','d']
print(lst[1])

b

In [16]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].
lst=[10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [17]:
#11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup=(100,200,300)
print(tup)

(100, 200, 300)

In [18]:
#12.  Write a code to access the second-to-last element of tuple ('red', 'green', 'blue', 'yellow').
tup=('red','green','blue','yellow')
print(tup[-2])

blue

In [19]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup=(10,20,5,15)
print(min(tup))

5

In [20]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup=('dog','cat','rabbit')
print(tup.index('cat'))

1

In [21]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("aple","mango","orange")
if "kiwi" in fruits:
  print("Yes, kiwi is there.")
else:
  print("No, kiwi is not there.")

No, kiwi is not there.

In [22]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set={'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

In [25]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set={1,2,3,4,5}
my_set.clear()
print(my_set)

set()

In [26]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set={1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [27]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3,4,5}.
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [28]:
#20. 0. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [29]:
#21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={"Name":"Abhishek Yadav","Age":"20","City":"Banda"}
print(dict)

{'Name': 'Abhishek Yadav', 'Age': '20', 'City': 'Banda'}

In [30]:
#22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={'name':'John','age':'25'}
dict['country']='USA'
print(dict)

{'name': 'John', 'age': '25', 'country': 'USA'}

In [31]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={'name':'Alice','age':'30'}
print(dict['name'])

Alice

In [32]:
#24.  Write a code to remove the key "age" from the dictionary  {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [36]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
  print("The key 'city' exist in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

The key 'city' exist in the dictionary.

In [37]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all.
lst=[1,2,3,4,5]
tup=(1,2,3,4,5)
dict={'name':'Abhishek','age':'20','city':'Banda'}
print(lst)
print(tup)
print(dict)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'Abhishek', 'age': '20', 'city': 'Banda'}

In [38]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced).
import random
lst=[]
for i in range(5):
  lst.append(random.randint(1,100))
  lst.sort()
  print(lst)

[9]
[9, 22]
[9, 16, 22]
[9, 16, 22, 54]
[9, 16, 22, 54, 75]

In [39]:
 #28.  Write a code to create a list with strings and print the element at the third index.
 lst=['ankul','20','mohit','ramesh']
 print(lst[2])

mohit

In [43]:
#29.  Write a code to combine two dictionaries into one and  print the result.
dict1={'name':'Abhishek','age':'20'}
dict2={'city':'Banda','country':'India'}
dict1.update(dict2)
print(dict1)

{'name': 'Abhishek', 'age': '20', 'city': 'Banda', 'country': 'India'}

In [44]:
#30.  Write a code to convert a list of strings into a set.
lst=['anuj','ankul','mohit']
my_set=set(lst)
print(my_set)

{'mohit', 'ankul', 'anuj'}